# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

* Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

*~
*.dSYM
config_parser
config_parser_test
proxy_config
webserver
